.game-window {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px; /*35px*/
    bottom: 0;

    /*margin: 0.5rem 10rem 0.5rem 10rem;*/

    /*
    flex-direction: column;
    align-items:center;
    justify-content: center;
    */

    /*align-self: flex-start; /*Felülírja a függőleges kitöltést*/
    align-items: stretch;
    /*flex-basis: auto;*/
    /*flex-direction: row;*/
    flex-grow: 1;
    flex-wrap: wrap;

    color: var(--default-orange);
    background: url(../02.jpg);
    background-color: var(--default-background);
    background-repeat: no-repeat;
    background-size: contain; /*100% auto*/ /* contain */
    background-position: center;
}


.game-header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-basis: 100%;
    gap: 0 0.5rem;

    flex-grow: 1;
    min-height: 30px;
    justify-content: flex-end;
    padding: var(--padding-soft);
    color: var(--default-orange);
    background-color: var(--default-background);
    background-color: rgba(0, 0, 0, 0);
}
.header-element {
    display: flex;
    align-items: center; /*Függőlegesen középre a benne lévő contentet*/



    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    padding: var(--padding);
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.5);

}
.header-element:hover {
    display: flex;

    background-color: var(--default-item);
}

.main-menu {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: auto;

    width: 600px;
    margin: 3px auto 3px auto;

    border-radius: var(--default-border-radius);

    /*
    flex-direction: column;
    justify-content: center;
    align-items:center;
    */

    /*align-self: flex-start; /*Felülírja a függőleges kitöltést*/
    align-content: flex-start;
    /*flex-basis: auto;*/
    /*flex-direction: row;*/
    flex-grow: 1;
    flex-wrap: wrap;


    padding: 0 20px 20px 20px;
    color: var(--default-font);
    background-color: var(--default-background);
}

.game-action-bar {
    position: fixed;
    left: 2rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    height: 30px;
    gap: 0 0.5rem;

    padding: var(--padding);
    border-radius: var(--default-border-radius);
    margin: var(--margin-soft);
    bottom: 0;

    background-color: rgba(46, 52, 54, 0.5);
}

.game-inventory {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: auto;

    margin: 40px 10px 50px 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;


    /*
    flex-direction: column;
    justify-content: center;
    align-items:center;
    */

    /*align-self: flex-start; /*Felülírja a függőleges kitöltést*/
    /*flex-basis: auto;*/
    /*flex-direction: row;*/
    flex-grow: 1;
    flex-wrap: wrap;


    border-radius: var(--default-border-radius);
    color: var(--default-font);
    background-color: rgba(90, 40, 0, 1);
}

.inventory-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inventory-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    margin: 0.7rem;
    border-radius: 13px;

    background-image: linear-gradient(to bottom, rgba(90, 40, 0, 1), rgba(100, 50, 0, 1));
    background-color: rgba(45, 20, 0, 1);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
}

.inventory-content {
    color: white;
    text-align: center;
}


.show-game-menu{
    display: flex;
    z-index: 100;
}


@media screen and (max-width: 768px) {

    .game-action-bar {
        left: 0.5rem;
        right: 0.5rem;
    }

    .main-menu {
        margin: 3rem 0rem 0rem 0rem;
        width: auto;
        margin: 80px auto 3px auto;
    }

    .game-header {
        font-size: 1.5rem;
    }

    .header-element{
        border-radius: 1.5rem;
    }

    .game-action-bar {
        font-size: 2rem;
    }

    .inventory-slot {
        width: 3.5rem;
        height: 3.5rem;
    }


}

/* DISABLE SCROLLBAR */
::-webkit-scrollbar {
display: none;
}
