/* Move all css file into the one "productcss.css" file.
	find . -name "*.css" -exec cat {} \; > productcss.css. */

/* ##### IMPORTED ITEMS ##### */
/*@import "models/header.css";
@import "models/768p.css";
@import "models/1280p.css";
@import "models/2160p.css";
@import "models/extras.css";*/

/* import google-fonts */
/*
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');
*/
/* ##### IMPORTED ITEMS END ##### */

/*
  GUIDE-FLEXBOX: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  GUIDE-GRID: https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* ##### GLOBAL VARIABLES ##### */
:root,
:root.light {
    --default-background: rgba(255, 255, 255, 1);
    --default-font: rgba(0, 0, 0, 1);
    --default-item: rgba(230, 230, 230, 1);
}
:root.dark {
    --default-background: rgba(46, 52, 54, 1);
    --default-font: rgba(255, 255, 255, 1);
    --default-item: rgba(30, 30, 30, 1);
}
:root {
    /* COLOR DEFINITIONS */
    --default-orange: rgba(255, 165, 0, 1);
    --default-red: rgba(255, 0, 0, 1);
    --default-green: rgba(40, 210, 0, 1);

    /* STYLE DEFINITIONS*/
    --default-border-radius: var(--border-radius);
    --default-padding: var(--padding) ;
    --default-margin: var(--margin);

    --border-radius-hard: 27px;
    --border-radius:13px;
    --border-radius-soft: 7px;

    --padding-hard: 1rem;
    --padding: 0.5rem;
    --padding-soft: 3px;

    --margin-hard: 1rem;
    --margin: 0.5rem;
    --margin-soft: 3px;
}

/***  GLOBAL VARIABLES END  ***/

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;

    font-family: system-ui;
    font-size: 1rem;

    background-color: var(--default-background);
    color: var(--default-font);
}

.testbox{
    background-color: var(--default-orange) !important;
}

/* MAIN CONTAINER CLASSES */
.basebox {
    display: flex;
    flex-grow: 1;
    min-height: 20px;
    align-items: stretch;
    flex-wrap: wrap;

    max-width: 100%;

    /*align-self: flex-start; /*Felülírja a függőleges kitöltést*/
    /*flex-basis: auto;*/
    /*flex-direction: row;*/
}

.gap {
    row-gap: 30px;
    column-gap: 30px;
}

.vertical-scroll {
    overflow: scroll;
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 20px;
    align-items: stretch;
    padding: var(--padding);
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    transition: transitionZ(-10px);
}

.fixbox{
  width: 1100px;

  display: flex;
  min-height: 20px;

  align-items: stretch;

  flex-wrap: wrap;

  box-shadow: 0px 0px 7px var(--default-item);
  /*box-shadow: 0px 0px 7px 1px var(--default-item);*/
  /*background-color: rgba(54, 54, 54, 1);*/
  /*background-color: var(--default-item)*/
}

/* MAIN CONTAINER CLASSES END*/

/* Display: none in 768p.css */
.hide-on-mobile{}

/* *** DESIGN ELEMENTS *** */

.bg1 { background-color: var(--default-background); }
.fg1 { background-color: var(--default-item); }

.padding { padding: var(--padding) }
.padding-soft { padding: var(--padding-soft) }
.padding-hard { padding: var(--padding-hard) }

.margin{margin: var(--margin)}
.margin-soft{margin: var(--margin-soft)}
.margin-hard{margin: var(--margin-hard)}

.text-left{text-align: left;}
.text-center{text-align: center; justify-content: center;}
.text-justify{text-align: justify;}
.text-right{text-align: right;}

.border-radius { border-radius: var(--border-radius) }
.border-radius-soft { border-radius: var(--border-radius-soft) }
.border-radius-hard { border-radius: var(--border-radius-hard) }

.br {border-radius: var(--border-radius)}
.br-soft {border-radius: var(--border-radius-soft)}
.br-hard {border-radius: var(--border-radius-hard)}

/* *** DESIGN ELEMENTS END *** */

.item-top {align-items: flex-start }
.item-center{align-items: center}
.item-bottom{ align-items: flex-end}

.center{
  text-align: center;
  justify-content: center;
  /* align-items: center; /* full-center */
}
.full-center{
  text-align: center;
  justify-content: center;
  align-items: center; /* full-center */
}

.row {
  min-height: 20px;
  flex-basis: 100%;

  flex-grow: 1;

}

.col{
  min-height: 20px;
  flex-basis: 100%;

  flex-grow: 1;

  /* A nowrap nem engedi a doboz tartalmát új sorba törni. Ha túl nagy, ki fog lógni */
  /*flex-wrap: nowrap;*/
 /* flex-basis: 100%;
  /*flex-direction: column !important;*/
}

.col-1{/* 1/1 = 100% */
  width: 100%;
  flex-grow: 6;
  flex-shrink: 1;
}

.col-2{ /* 1/2 = 50% */
  width: 45%;
  min-width: 400px;
  flex-grow: 5;
  flex-shrink: 2;
}

.col-3{ /* 1/3 = 33% */
  min-width: 30%;

  flex-grow: 4;
  flex-shrink: 3;
}

.col-4{ /* 1/4 = 25% */
  width: 19%;
  min-width: 265px;
  flex-grow: 3;
  flex-shrink: 4;
}
.col-5{ /* 1/5 = 20% */
  width: 16%;
  min-width: 210px;
  flex-grow: 2;
  flex-shrink: 5;
}
.col-6{ /* 1/6 = 20% */
  width: 13%;
  min-width: 155px;
  flex-grow: 1;
  flex-shrink: 6;
}

/* BUTTON */
.button{
    min-height: 15px;

    padding: 1rem;
    text-align: center;
    border-radius: 0.2rem;

    /*margin: 7px;*/

    /*box-shadow: 0px 0px 1px 1px;*/
    /*border: 1px solid #ccc;*/
    /*box-shadow: 0px 0px 7px var(--default-item);*/
    /*background-color: var(--default-background);*/
}
.button:hover{
    cursor: -webkit-grab;
    cursor: grab;
    background-color: var(--default-item);
}
/* BUTTON END */

footer{
  min-height: 150px;

  display: flex;
  /*margin-bottom: 0px;*/

  /*align-items: flex-start; */

  font-size: 9pt;
  font-weight: 600;

  padding: 1rem;
  /*color: var(--font-color-for-dark);*/
  color: var(--default-font);
  background-color: var(--default-background);
}

fieldset{ border: 1px solid;}

input{
  min-height: 20px;
  margin: 0.5rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  outline: none;
  border-radius: 23px;
  color: var(--default-font);
  background-color: var(--default-item);
  border: 2px solid var(--default-item);
  /*box-shadow: 0px 0px 7px var(--default-item);*/
}

img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top center;

  background-repeat: no-repeat;
  background-position: top, center;
  background-size: cover;
}

hr {
    display: block;
    width: 90%;
    border: 1px solid var(--default-orange);
    height: 0px;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    /*background-color: var(--default-item);*/
    padding: var(--padding-hard);
    /*border-radius: var(--default-border-radius);*/
}

p {text-align: justify;}

/* LINK FORMATS */
	a:link {text-decoration: none; color: var(--default-font);}
	a:visited {color: var(--default-font);}
	a:hover {color: var(--default-orange);}
	a:active {color: var(--default-font);}
/* LINK FORMATS END*/

/*	CHECKBOX LABEL DESIGN
	SOURCE: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/
/* Customize the label (the container) */
.checkbox-label {
  display: block;
  text-align: left;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.5rem; /*orig: 22px*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: ;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 29px;
  background-color: #eee;
}
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-label:hover input ~ .radiomark {
  background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkbox-label input:checked ~ .radiomark {
  background-color: #2196F3;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-label input:checked ~ .radiomark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.checkbox-label .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* CHECKBOX LABEL DESIGN END*/


/* EDIT SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--default-background);
}
::-webkit-scrollbar-thumb {
    background: var(--default-item);
    border-radius: 13px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

