body {
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	display: none;
}

/* APP TEMPLATE
    app-main: whole app 100vh
        - app-header : Header Bar
        - app-body : All content
            - app-scroll
                - veritcal-scroll
                    - Elements
            - app-files
                - file-entries
            - app-workspace
                - input / text-editor
        - app-footer : Footer
            - footer elements

*/

.app-main {
	display: flex;
	height: 100vh;
	/*padding: 0.5vh;*/
	flex-grow: 1; /*item*/
	align-items: stretch;
	/*background-color: red;*/
	background-color: var(--default-background);
}

.app-header {
    /*Unused*/
    height: 5vh;
}

.app-body {
	display: flex;
	flex-grow: 100;
	width: 100vh;
	height: 90vh;
	background-color: var(--default-background);
}

.app-scroll {
    display: flex;
    align-content: flex-start;
    width: 10vh;
    min-width: 50px;
    height: 89vh;
    overflow: hidden !important;
    /*background-color: var(--bg2);*/
}

.app-files {
    display: flex;
    flex-grow: 0 !important;
    width: 5vh;
    height: 89vh;
    min-width: 150px;
    align-content: flex-start;
    background-color: var(--bg2);
}

.app-entry {
    display: flex;
    min-height: 30px;
    margin: 3px;
    padding: 3px;
    white-space: nowrap;
    /*background-color: var(--default-item);*/
}

.app-workspace {
    display: flex;
    align-content: flex-start;
    align-content: stretch;
    flex-grow: 1;
    background-color: var(--default-background);
}

.app-editor {
    display: flex;
    margin: 0;
    padding: 3px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 14px;
    border-radius: 7px;
    color: var(--default-font);
    background-color: var(--default-item);
    border: 2px solid var(--default-item);
}

.t0 {
	display: flex;
	flex-grow: 1;
	align-content: stretch;
	flex-wrap: wrap;
	background-color: var(--default-background);
}

.t1 {
	display: flex;
	flex-grow: 1;
	height: 96vh;
	max-width: 60px;

	background-color: var(--bg2);
}

.app-button-gap {
    row-gap: 3px;
    column-gap: 30px;
}

.app-button {
    display: flex;
	width: 50px;
	min-height: 50px;
	margin: 3px;
    text-align: center;
    justify-content: center;
    align-items: center; /* full-center */
	border-radius: var(--border-radius-soft);
	background-color: var(--fg2);
}



.t4-element {
	display: flex;
	min-width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center; /* full-center */
	margin: var(--margin-soft);
	border-radius: var(--border-radius-soft);
}
.t4-element:hover {
    background-color: var(--default-hover);
}


.app-footer {
	display: flex;
	flex-grow: 1;
	height: 5vh;
	/*min-height: 30px;*/
	margin: 0px;
	/*background-color: var(--bg2);*/
}

.app-footer-element {
    /* margin & padding miatt scrollozik*/
    display: flex;
    /*font-size: 3vh;*/
    border-radius: 13px;
    /*padding: 3px;*/
    background-color: var(--fg2);
}





.t2 {
	display: flex;
	flex-grow: 1;
	height: 96vh;
	background-color: gray;
}

.t3 {
	display: flex;
	flex-grow: 1;
	flex-basis: 100%;
	height: 4vh;
	background-color: var(--bg2);
}

.t4 {
	height: 30px;
	background-color: red;
}



