body {
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	display: none;
}


.app-main {
	display: flex;
	height: 100vh;
	flex-grow: 1; /*item*/
	align-items: stretch;
	background-color: var(--default-background);
}

.app-header {
    display: flex;
    height: 6vh;
    background-color: var(--bg2);
}

.app-body {
	display: flex;
	flex-grow: 1;
	width: 100vh;
	height: 89vh;
	background-color: var(--default-background);
}

.app-scroll {
    display: flex;
    align-content: flex-start;
    width: 10vh;
    min-width: 50px;
    height: 90vh;
    background-color: var(--bg2);
}

.app-files {
    display: flex;
    flex-grow: 0 !important;
    width: 5vh;
    height: 90vh;
    min-width: 150px;
    align-content: flex-start;
    background-color: var(--fg2);
}

.app-entry {
    display: flex;
    min-height: 30px;
    margin: 3px;
    padding: 3px;
    background-color: var(--default-item);
}

.app-workspace {
    display: flex;
    align-content: flex-start;
    align-content: stretch;
    flex-grow: 1;
    background-color: var(--default-background);
}

.app-editor {
    display: flex;
    margin: 0;
    padding: 3px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 1vh;
    color: var(--default-font);
    background-color: var(--default-item);
    border: 2px solid var(--default-item);
}

.t0 {
	display: flex;
	flex-grow: 1;
	align-content: stretch;
	flex-wrap: wrap;
	background-color: var(--default-background);
}

.t1 {
	display: flex;
	flex-grow: 1;
	height: 96vh;
	max-width: 60px;

	background-color: var(--bg2);
}

.app-button-gap {
    row-gap: 3px;
    column-gap: 30px;
}

.app-button {
    display: flex;
	width: 50px;
	min-height: 50px;
	margin: 3px;
    text-align: center;
    justify-content: center;
    align-items: center; /* full-center */
	border-radius: var(--border-radius-soft);
	background-color: var(--fg2);
}



.t4-element {
	display: flex;
	min-width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center; /* full-center */
	margin: var(--margin-soft);
	border-radius: var(--border-radius-soft);
}
.t4-element:hover {
    background-color: var(--default-hover);
}


.app-footer {
	display: flex;
	flex-grow: 1;
	height: 5vh;
	min-height: 30px;
	margin: 0px;
	background-color: var(--bg2);
}

.app-footer-element {
    display: flex;
    margin: 3px;
    padding: 3px;
    border-radius: 7px;
    background-color: var(--fg2);
}





.t2 {
	display: flex;
	flex-grow: 1;
	height: 96vh;
	background-color: gray;
}

.t3 {
	display: flex;
	flex-grow: 1;
	flex-basis: 100%;
	height: 4vh;
	background-color: var(--bg2);
}

.t4 {
	height: 30px;
	background-color: red;
}



