<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App Index</title>
	<meta
	    name="description"
	    content="Lightweight, easy, and transparant css framework for
		     beginners, and experts. This CSS use flexbox style
		     for a modern design. Maincss is self-documenting tool
		     for free. (SEO Audit)">

	<link rel="stylesheet" type="text/css" href="./app-theme.css">
	<link rel="stylesheet" type="text/css" href="../../models/header.css">
	<link rel="stylesheet" type="text/css" href="../../maincss.css">
	<link rel="stylesheet" type="text/css" href="../../models/extras.css">
	<link rel="stylesheet" type="text/css" href="../../models/768p.css">
	<link rel="stylesheet" type="text/css" href="../../models/1280p.css">
	<link rel="stylesheet" type="text/css" href="../../models/2160p.css">

	<script>
		var theme = localStorage.getItem("theme");
		document.documentElement.className = theme
	</script>


</head>
<body>
<div class="basebox app-main">

    <!-- [ app-header ]: currently unused, -->
	<div class="basebox row app-header">
		<div class="t4-element">App Header</div>
		<div class="t4-element theme-button thb-light" onclick="setTheme('light')">Light</div>
		<div class="t4-element theme-button thb-dark" onclick="setTheme('dark')">Dark</div>
		<div class="t4-element"><a href="../../index.html">Morfyum</a></div>
	</div>


	<div class="basebox row app-body">

		<div class="app-scroll margin-soft">
		    <div class="basebox vertical-scroll full-center">
	        	<nav class="app-button"> A1 </nav>
		        <nav class="app-button"> A2 </nav>
		        <nav class="app-button"> A3 </nav>
		        <nav class="app-button"> A4 </nav>
                <hr class="margin">
		        <nav class="app-button"> B1 </nav>
				<nav class="app-button"> B2 </nav>
		        <nav class="app-button"> B3 </nav>
		        <nav class="app-button"> B4 </nav>
		        <nav class="app-button"> C1 </nav>
		        <nav class="app-button"> C2 </nav>
				<nav class="app-button"> C3 </nav>
		        <nav class="app-button"> C4 </nav>
		        <nav class="app-button"> D1 </nav>
		        <nav class="app-button"> D2 </nav>
				<nav class="app-button"> D3 </nav>
		        <nav class="app-button"> D4 </nav>
			</div>
		</div>

		<div class="basebox app-files margin-soft">
			<div class="basebox app-files vertical-scroll">
				<nav class="app-entry row">📁 Entry-1-Toooooooooooooooooo-long-name </nav>
				<nav class="app-entry row">📁 Entry 2</nav>
				<nav class="app-entry row">📁 Entry 3</nav>
				<nav class="app-entry row">📁 Entry 4</nav>
				<nav class="app-entry row">📁 Entry 5</nav>
				<nav class="app-entry row">📝 Entry 6</nav>
				<nav class="app-entry row">📝 Entry 7</nav>
				<nav class="app-entry row">📝 Entry 8</nav>
				<nav class="app-entry row">📝 Entry 9</nav>
			    <nav class="app-entry row">📝 Entry 10</nav>
				<nav class="app-entry row">📝 Entry 11</nav>
				<nav class="app-entry row">📝 Entry 12</nav>
				<nav class="app-entry row">📝 Entry 13</nav>
				<nav class="app-entry row">📝 Entry 14</nav>
				<nav class="app-entry row">📝 Entry 15</nav>
				<nav class="app-entry row">📝 Entry 16</nav>
				<nav class="app-entry row">📝 Entry 17</nav>
				<nav class="app-entry row">📝 Entry 18</nav>
			    <nav class="app-entry row">📝 Entry 19</nav>
				<nav class="app-entry row">📝 Entry 20</nav>
				<nav class="app-entry row">📝 Entry 21</nav>
				<nav class="app-entry row">📝 Entry 22</nav>
				<nav class="app-entry row">📝 Entry 23</nav>
				<nav class="app-entry row">📝 Entry 24</nav>
				<nav class="app-entry row">📝 Entry 25</nav>
				<nav class="app-entry row">📝 Entry 26</nav>
				<nav class="app-entry row">📝 Entry 27</nav>
			</div>
		</div>

		<div class="basebox app-workspace margin-soft">
			<textarea autofocus wrap="off" class="app-editor">#!/bin/bash</textarea>
		</div>

	</div>


	<div class="basebox row app-footer">
		<!--div class="app-footer-element full-center">Footer</div>
		<div class="app-footer-element full-center">Terminal</div-->

		<div class="t4-element">Footer</div>
		<div class="t4-element">Terminal</div>
	</div>

</div>
</body>

<script>

	/* Set Theme with buttons */
	function setTheme(theme) {
		document.documentElement.className = theme
		localStorage.setItem("theme", theme);
		theme = localStorage.getItem("theme");
	}


</script>

<script>

 	/* When the user clicks on the button,
	toggle between hiding and showing the dropdown content */
	function headerDropdown() {
		document.getElementById("headerDropdown").classList.toggle("show");
	}


	function settingsBar() {
		document.getElementById("settingsBar").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
		if (!event.target.matches('.header-flex-element')) {
		    var dropdowns = document.getElementsByClassName("header-flex-dropdown");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				}
		    }
		}
	}

</script>

</html>
