<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App Index</title>
	<meta
	    name="description"
	    content="Lightweight, easy, and transparant css framework for
		     beginners, and experts. This CSS use flexbox style
		     for a modern design. Maincss is self-documenting tool
		     for free. (SEO Audit)">

	<link rel="stylesheet" type="text/css" href="./app-theme.css">
	<link rel="stylesheet" type="text/css" href="../../models/header.css">
	<link rel="stylesheet" type="text/css" href="../../maincss.css">
	<link rel="stylesheet" type="text/css" href="../../models/extras.css">
	<link rel="stylesheet" type="text/css" href="../../models/768p.css">
	<link rel="stylesheet" type="text/css" href="../../models/1280p.css">
	<link rel="stylesheet" type="text/css" href="../../models/2160p.css">

	<script>
		var theme = localStorage.getItem("theme");
		document.documentElement.className = theme
	</script>


</head>
<body>
<div class="basebox app-main">

	<div class="basebox row app-header">
		<div class="t4-element">App Header</div>
		<div class="t4-element theme-button thb-light" onclick="setTheme('light')">Light</div>
		<div class="t4-element theme-button thb-dark" onclick="setTheme('dark')">Dark</div>
		<div class="t4-element"><a href="../../index.html">Morfyum</a></div>
	</div>


	<div class="basebox row app-body">

		<div class="app-scroll">
		    <div class="basebox app-scroll vertical-scroll full-center">
	        	<nav class="app-button"> A1 </nav>
				<nav class="app-button"> B2 </nav>
				<nav class="app-button"> C3 </nav>
			</div>
		</div>

		<div class="basebox app-files">
			<div class="basebox app-files vertical-scroll">
				<nav class="app-entry row">Entry 1</nav>
				<nav class="app-entry row">Entry 2</nav>
				<nav class="app-entry row">Entry 3</nav>
				<nav class="app-entry row">Entry 4</nav>
				<nav class="app-entry row">Entry 5</nav>
				<nav class="app-entry row">Entry 6</nav>
				<nav class="app-entry row">Entry 7</nav>
				<nav class="app-entry row">Entry 8</nav>
				<nav class="app-entry row">Entry 9</nav>

			</div>
		</div>

		<div class="basebox app-workspace">
			<textarea autofocus wrap="off" class="app-editor">#!/bin/bash</textarea>
		</div>

	</div>


	<div class="basebox row app-footer">
		<div class="app-footer-element">Footer</div>
		<div class="app-footer-element">Terminal</div>
	</div>

</div>
</body>

<script>

	/* Set Theme with buttons */
	function setTheme(theme) {
		document.documentElement.className = theme
		localStorage.setItem("theme", theme);
		theme = localStorage.getItem("theme");
	}


</script>

<script>

 	/* When the user clicks on the button,
	toggle between hiding and showing the dropdown content */
	function headerDropdown() {
		document.getElementById("headerDropdown").classList.toggle("show");
	}


	function settingsBar() {
		document.getElementById("settingsBar").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
		if (!event.target.matches('.header-flex-element')) {
		    var dropdowns = document.getElementsByClassName("header-flex-dropdown");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				}
		    }
		}
	}

</script>

</html>
