<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

<style media="screen">

::-webkit-scrollbar {
	width: 0px !important;
	height: 0px;
}

body {
    margin: 0;
    padding: 0;
}

.test-fullscreen {
  display: flex;
  height: 100vh;
  background-color: red;
}

.test-fs,
.content {
  overflow: auto;
  width: max-content;
  padding: 10px;
  margin: 10px;
  background-color: green;
}

.asd {
  margin: 10px;
  width: 60px;
  height: 40px;
  background-color: yellow;
}

.content {
  flex-grow: 2;
  margin: 10px;
}


</style>
</head>
<body>

    <div class="test-fullscreen">
      <asidde class="test-fs">
        <div class="testbox asd"> B1 </div>
        <div class="testbox asd"> B2 </div>
        <div class="testbox asd"> B3 </div>
        <div class="testbox asd"> B4 </div>
        <div class="testbox asd"> B5 </div>
        <div class="testbox asd"> B6 </div>
        <div class="testbox asd"> B7 </div>
        <div class="testbox asd"> B8 </div>
        <div class="testbox asd"> B9 </div>
        <div class="testbox asd"> B10 </div>
        <div class="testbox asd"> B11 </div>
        <div class="testbox asd"> B12 </div>
        <div class="testbox asd"> B6 </div>
        <div class="testbox asd"> B7 </div>
        <div class="testbox asd"> B8 </div>
        <div class="testbox asd"> B9 </div>
        <div class="testbox asd"> B10 </div>
        <div class="testbox asd"> B11 </div>
        <div class="testbox asd"> B12 </div>
      </asidde>
      <section class="content">ok</section>
    </div>



    </body>
</html>
