<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App Theme</title>
	<meta
	    name="description"
	    content="App Theme">

	<link rel="stylesheet" type="text/css" href="./app-theme.css">
	<link rel="stylesheet" type="text/css" href="../../src/header.css">
	<link rel="stylesheet" type="text/css" href="../../maincss.css">
	<link rel="stylesheet" type="text/css" href="../../src/extras.css">
	<link rel="stylesheet" type="text/css" href="../../src/768p.css">
	<link rel="stylesheet" type="text/css" href="../../src/1280p.css">
	<link rel="stylesheet" type="text/css" href="../../src/2160p.css">

	<script>
		var theme = localStorage.getItem("theme");
		document.documentElement.className = theme
	</script>

</head>
<body>

<div class="app-main">

	<div class="t0">

		<div class="t1 bg2">
		    <div class="basebox vertical-scroll full-center">
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		        <nav class="app-button"> B1 </nav>
		    </div>
		</div>

		<div class="basebox testbox">

			<div class="basebox app-header">
				<div class="basebox fg1 t4-element">App header</div>
				<div class="basebox fg1 t4-element">1</div>
				<div class="basebox fg1 t4-element">1</div>
				<div class="basebox fg1 t4-element">1</div>
				<!--div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class=" t4-element">1</div>
				<div class="t4-element">1</div>
				<div class="t4-element">1</div-->
			</div>

			<div class="basebox row t4">
				T5
			</div>
		</div>

		<div class="basebox t3">
			<div class="basebox fg1 t4-element">Footer</div>
			<div class="basebox fg1 t4-element">Opt 1</div>
			<div class="basebox fg1 t4-element">Opt 2</div>
		</div>

	</div>

</div>

</body>
</html>
