<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>morfin</title>
	<meta
	    name="description"
	    content="Lightweight, easy, and transparant css framework for
		     beginners, and experts. This CSS use flexbox style
		     for a modern design. Maincss is self-documenting tool
		     for free. (SEO Audit)">

	<link rel="stylesheet" type="text/css" href="./app-theme.css">
	<link rel="stylesheet" type="text/css" href="../../models/header.css">
	<link rel="stylesheet" type="text/css" href="../../maincss.css">
	<link rel="stylesheet" type="text/css" href="../../models/extras.css">
	<link rel="stylesheet" type="text/css" href="../../models/768p.css">
	<link rel="stylesheet" type="text/css" href="../../models/1280p.css">
	<link rel="stylesheet" type="text/css" href="../../models/2160p.css">

	<script>
		var theme = localStorage.getItem("theme");
		document.documentElement.className = theme
	</script>


</head>
<body>




<div class="container-fullscreen">

<div class="t0">
    <div class="t1">

        <div class="basebox vertical-scroll">
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
            <nav class="testbox app-button"> B1 </nav>
        </div>

    </div>

    <div class="basebox">

		<div class="basebox vertical-scroll" style="height:40px; background:red;">

			<div class="basebox testbox margin-soft t4-element">1</div>
			<div class="basebox testbox margin-soft t4-element">1</div>
			<div class="basebox testbox margin-soft t4-element">1</div>
			<div class="basebox testbox margin-soft t4-element">1</div>
			<!--div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class=" t4-element">1</div>
			<div class="t4-element">1</div>
			<div class="t4-element">1</div-->

		</div>

		<div class="basebox row t4">
			T5
		</div>

	</div>

    <div class="t3">footer</div>
</div>



    <!--div class="app-main">
        OK
    </div-->

</div>



</body>
</html>
