@media screen and (max-width: 1366px) {


	.col-6{
	  width: 10% !important;
	  min-width: 100px!important;
	}

	#unique-slideshow{
	  width: 850px !important;
	  height: 350px !important;
	}
	.adbox{
	  max-height: 350px !important;
	}

}
