@media screen and (max-width: 768px) {
/* For Small screen devices. This is the most smaller screen in phone family */


	.fixbox{
	  width: 100%;
	}
	/* MAINCSS.CSS */
	.col-1{
	  width: 100%;
  	  min-width: auto;
	}
	.col-2{
	  width: 100%;
  	  min-width: auto;
	}
	.col-3{
	  width: 100%;
	  min-width: auto;
	}
	.col-4{
	  width: 100%;
	  min-width: auto;	
	}
	.col-5{
	  width: 100%;
	  min-width: auto;	
	}
	.col-6{
	  width: 100%;
	  min-width: auto;
	}

	#unique-slideshow{
	  width: 100%;
	  height: 200px !important;
	  margin: 0rem;
	  align-items: flex-start;
 	  background-color: orange;
	}

	hr{
	  width: 100%;
	}
	/* MAINCSS.CSS END */

	 /* EXTRAS.CSS */
	.adbox{
	  display: none;
	}


	.card{
	  width: 100%;
	  height: auto;
	  margin: 10px 10px 10px 10px;
	}
	.card:hover{
	  width: 100%;
	  height: auto;
	  margin: 10px 10px 10px 10px;
	}
	/* EXTRAS.CSS END */
}
