@media screen and (max-width: 768px) {
/* For Small screen devices. This is the most smaller screen in phone family */

	/* MAINCSS.CSS */
	.col-1{
	  width: 100%;
  	  min-width: auto !important;
	}
	.col-2{
	  width: 100% !important;
  	  min-width: auto !important;
	  background-color: red ;
	}
	.col-3{
	  width: 100% !important;
	  min-width: auto !important;
	}
	.col-4{
	  width: 100% !important;
	  min-width: auto !important;	
	}
	.col-5{
	  width: 100% !important;
	  min-width: auto !important;	
	}
	.col-6{
	  width: 100%; !important;
	  min-width: auto !important;

	  font-size: ;
	}

	#unique-slideshow{
	  width: 100% !important;
	  height: 350px !important;
	  margin: 0rem !important;
 	  background-color: orange;
	}
	/* MAINCSS.CSS END */

	 /* EXTRAS.CSS */
	.adbox{
	  display: none !important;
	}

	.card{
	  width: 100% !important;
	  height: auto !important;
	  margin: 10px 10px 10px 10px !important;
	}
	/* EXTRAS.CSS END */
}
